<header class="header">
    <h1 class="logo">Frankines</h1>
    <button class="menu-button" (click)="toggleMenu()" [class.active]="isMenuOpen">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <nav class="navbar" [class.active]="isMenuOpen">
        <ul class="nav-list">
            <li class="nav-item"><a (click)="scrollToElement('about'); isMenuOpen = false">Best Sellers</a></li>
            <li class="nav-item"><a (click)="scrollToElement('menu'); isMenuOpen = false">Menu</a></li>
            <li class="nav-item"><a (click)="scrollToElement('contact'); isMenuOpen = false">Contact</a></li>
        </ul>
    </nav>
</header> 


